
/* SHOWCASE */
section p {
    font-weight: 150;
    font-size: 1.3rem;
}

section p span {
    font-weight: 700;
}

section img {
    background-color: #D3E4CD;
}
section a {
    text-decoration: none;
}

/* PORFOLIO */
.portfolio .card {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3) ;
}

/* FOOTER */
footer {
    margin-top: 200px;
    background-color: #D3E4CD;
}
